+++
title = "Ryuuki"
linkTitle = "Ryuuki"

+++

{{< blocks/cover title="The Cardano watershed moment" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">Delegate<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/about" >}}">Learn More<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	
	
	<p class="lead mt-5">Shared prosperity through collaborative innovation</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
An open alliance of community driven self sovereign Cardano Stake Pools. Building on shared values & prosperity through collaborative innovation.
	
13 Projects, 13 Stake Pools, One common goal: to empower the Catalyst community and its individual members in a sustainable and organic manner.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
<div class="col">
<h1 class="text-center">Community Builders</h1>
An open alliance of community driven self sovereign Cardano Stake Pools. 
</div>
{{% blocks/feature icon="fa-lightbulb" title="WADA" %}}
Connecting African Developers and Entrepreneurs to the Cardano Ecosystem and Distributed Ledger Technologies (DLT).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Lauris | EU01 StakePool" url="https://www.stakepool247.eu/" %}}
Best in the class techical experience on how to run and and maintain Cardano Stake Pools
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Catalyst-Swarm" url="https://github.com/Catalyst-Swarm" %}}
"Together we are stronger" - Tevo
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="The-Catalyst-School" %}}
Catalyst School is a learning hub that aims to accelerate the adoption of Cardano's Project Catalyst and to ensure that it thrives and reaches its full potential, faster.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Eastern Town Hall" url="https://easterntownhall.com/" %}}
Cardano Catalyst Community Eastern Townhall is helping to enable community members from a wide variety of countries and languages in the eastern timezones.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="gimbalabs" url="https://www.gimbalabs.com/gimbalgrid" %}}
We envision a world where as many people as possible are empowered to solve problems using the Cardano protocol.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Community Builders</h1>
<img src="https://raw.githubusercontent.com/Cardano-Community-Builders/Ryuuki-Site/main/content/en/School.jpg" alt="School" width="50" height="60">
An open alliance of community driven self sovereign Cardano Stake Pools. 
</div>
{{% blocks/feature icon="fa-lightbulb" title="The-Catalyst-School" %}}
Catalyst School is a learning hub that aims to accelerate the adoption of Cardano's Project Catalyst and to ensure that it thrives and reaches its full potential, faster.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="The-Catalyst-School" %}}
Catalyst School is a learning hub that aims to accelerate the adoption of Cardano's Project Catalyst and to ensure that it thrives and reaches its full potential, faster.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-lightbulb" title="The-Catalyst-School" %}}
Catalyst School is a learning hub that aims to accelerate the adoption of Cardano's Project Catalyst and to ensure that it thrives and reaches its full potential, faster.
{{% /blocks/feature %}}
{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fab fa-twitter" title="The-Catalyst-School" %}}
<img src="https://raw.githubusercontent.com/Cardano-Community-Builders/Ryuuki-Site/main/content/en/School.jpg" alt="School" width="50" height="60"> 
Catalyst School is a learning hub that aims to accelerate the adoption of Cardano’s Project Catalyst
and to ensure that it thrives and reaches its full potential, faster.
{{% /blocks/feature %}}
{{< /blocks/section >}}

	
{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
